<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview', 'authmanager' %>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>
<div class="related">Looking for more? Head on over to the <%= link_to("archives", archives_path) %>.</div>

<h2>Post a comment</h2>
  <% unless @comment.errors.empty? -%>
  <div class="errors">
    <h3>Comment not added!</h3>
    <ul>
      <% @comment.errors.sort_by(&:first).each do |error| -%>
        <li><%= error %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>

  <div id="comment-form">
    <%= render :partial => 'comments/comment_form' %>
  </div>

<script>
  function reloadForm(){
    jQuery.ajax({
      url:  '<%= comment_form_path %>',
      timeout: 2000,
      dataType: 'text/html',
      error: function() {
        $('#comment-form').text("Failed to load form");
      },
      success: function(r) {
        $('#comment-form').html(r)
      }
    })
  }
</script>

